.transition {
    transition: opacity $slowDuration ease-in-out,
                transform $normalDuration ease-in-out;
}

.fade-up {
    &.start {
        opacity: 0;
        transform: translateY(100px);
    }
}