* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--backgroundColor);
    color: var(--color);
    transition: all $animationDuration ease-in-out;
}

a {
    text-decoration: none;
    color: $primaryColor;
    &:hover {
        color: lighten($primaryColor, 5);
    }
}

:focus {
    @include focus;
}

textarea {
    min-height: 3em;
    font-family: inherit;
}