* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-variant: no-common-ligatures;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color);
    background-color: var(--backgroundColor);
    transition: all $fastDuration ease-in-out;
}

a {
    text-decoration: none;
    color: $primaryColor;
    &:hover {
        color: lighten($primaryColor, 5);
    }
}

:focus {
    @include focus;
}

::selection {
    background-color: $secondaryColor;
    color: inherit;
}

textarea {
    min-height: 2rem;
    min-width: 100%;
    max-width: 350px;
    font-family: inherit;
}