body {
    margin: 0;
    background-color: var(--backgroundColor);
    color: var(--color);
    transition: all $animationDuration ease-in-out;
}

a {
    text-decoration: none;
    color: $primaryColor;
    &:hover {
        color: lighten($primaryColor, 5);
    }
}

:focus,
:focus ~ label {
    outline-color: $primaryColor;
    outline-offset: 1px;
    outline-style: solid;
    outline-width: 2px;
}