.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
}

.m-hide {
    @media (max-width: $small) {
        display: none;
    }
}

.flex {
    @include flexWrapCenter;
}

.flex-b-3 {
    flex-basis: 25%;
}

.flex-b-6 {
    flex-basis: 50%;
}

.flex-b-9 {
    flex-basis: 75%;
}

.flex-b-12 {
    flex-basis: 100%;
}

.mx {
    margin-left: auto;
    margin-right: auto;
}

.ml {
    margin-right: auto;
}

.mr {
    margin-left: auto;
}