@charset 'utf-8';

// color scheme
// $primaryColor: #2a9d8f;
$primaryColor: #0088ff;
$secondaryColor: #709cc2;
$goColor: #00ff22;
$readyColor: #ff8800;
$stopColor: #ff0000;
$darkColor: lighten(#000000, 5);
$greyColor: lighten(#808080, 25);
$lightColor: darken(#FFFFFF, 5);

$slowDuration: 1s;
$normalDuration: .5s;
$fastDuration: .25s;

$fixNavHeight: 68.15px;

$spacing: 1em;

// screen sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


:root,
[data-theme=default] {
  --backgroundColor: #{$lightColor};
  --color: #{$darkColor};
}
[data-theme=dark] {
  --backgroundColor: #{$darkColor};
  --color: #{$lightColor};
}