@charset 'utf-8';

// color scheme
$primaryColor: #2a9d8f;
$secondaryColor: #e5989b;
$darkColor: lighten(#000000, 25);
$greyColor: lighten(#808080, 25);
$lightColor: darken(#FFFFFF, 5);
$animationDuration: .2s;
$spacing: 1em;

// screen sizes
$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;


:root,
[data-theme=default] {
  --backgroundColor: #{$lightColor};
  --color: #{$darkColor};
}
[data-theme=dark] {
  --backgroundColor: #{$darkColor};
  --color: #{$lightColor};
}