@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root,
[data-theme=default] {
  --backgroundColor: #f2f2f2;
  --color: #404040;
}

[data-theme=dark] {
  --backgroundColor: #404040;
  --color: #f2f2f2;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-variant: no-common-ligatures;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-behavior: smooth;
  color: var(--color);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: #2a9d8f;
}

a:hover {
  color: #2fb1a1;
}

:focus {
  outline-color: #2a9d8f;
  outline-style: solid;
  outline-width: 1px;
}

textarea {
  min-height: 6em;
  font-family: inherit;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}

.bg {
  background-color: var(--backgroundColor);
}

.bg-transparent {
  background-color: transparent;
}

@media (max-width: 576px) {
  .m-hide {
    display: none;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-b-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.flex-b-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.flex-b-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.flex-b-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.mx {
  margin-left: auto;
  margin-right: auto;
}

.ml {
  margin-right: auto;
}

.mr {
  margin-left: auto;
}

.p-1 {
  padding: 1rem;
}

header > nav {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(242, 242, 242, 0.5);
}

header > nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header > nav > div > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

header > nav > div > ul > li > * {
  font-weight: bold;
  padding: .5rem;
  display: block;
  color: #2a9d8f;
}

footer > nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer > nav > div > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer > nav > div > ul > li > * {
  font-weight: bold;
  padding: .5rem;
  display: block;
  color: #f2f2f2;
}

footer > nav > div > ul > li > a:hover {
  text-decoration: underline;
  color: #f2f2f2;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-section {
  padding: 1rem;
}

form {
  width: 100%;
  max-width: 600px;
  background-color: silver;
  border-radius: 1rem;
  padding: 1rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2a9d8f;
  padding: 2em 1em;
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: inherit;
  font-weight: bold;
}

.logo a > img {
  width: 50px;
  margin-right: .5rem;
}

.cover {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 400px;
  padding: 1rem 2rem;
  text-align: center;
}

.cover > * {
  padding: 1em;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
  background-size: cover;
  background-color: rgba(64, 64, 64, 0.5);
  z-index: -100;
}

.toggles [type=checkbox] {
  position: absolute;
  opacity: 0;
}

.toggles [type=checkbox] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3rem;
  height: 1.5rem;
}

.toggles [type=checkbox] + label::before,
.toggles [type=checkbox] + label::after {
  content: "";
  position: absolute;
  height: 100%;
  -webkit-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
}

.toggles [type=checkbox] + label::before {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 1.1rem;
  -webkit-box-shadow: inset 0px 0px 2px 0px;
          box-shadow: inset 0px 0px 2px 0px;
}

.toggles [type=checkbox] + label::after {
  left: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 50%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-box-shadow: 1px 1px 5px 1px #404040;
          box-shadow: 1px 1px 5px 1px #404040;
}

.toggles [type=checkbox]:checked + label::after {
  left: 50%;
}

.toggles [type=checkbox]:checked + label::before {
  background-color: #404040;
}

.toggles [type=checkbox]:focus + label::before,
.toggles [type=checkbox]:hover + label::before {
  outline-color: #2a9d8f;
  outline-style: solid;
  outline-width: 1px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=month],
input[type=week],
input[type=date],
input[type=time],
textarea {
  padding: .5rem 0;
  margin: 0.5rem;
  font-size: 1rem;
  background-color: transparent;
  color: var(--color);
  border: 0;
  border-bottom: 2px solid var(--color);
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=date]:focus,
input[type=time]:focus,
textarea:focus {
  outline: transparent;
  border-bottom: 2px solid #2a9d8f;
  caret-color: #2a9d8f;
}

.btn,
button,
input[type=submit],
input[type=reset],
input[type=button] {
  font-size: 1rem;
  background-color: #2a9d8f;
  border: 1px solid #2a9d8f;
  color: #f2f2f2;
  border-radius: 2rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
}

.btn:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
  background-color: #2fb1a1;
  border-color: #2fb1a1;
  color: #f2f2f2;
}

.top-label {
  position: relative;
  padding-bottom: .5rem;
}

.top-label > label {
  position: absolute;
  bottom: 0;
  left: .5rem;
  font-size: .6rem;
}
/*# sourceMappingURL=main.css.map */