:root,
[data-theme="default"] {
  --backgroundColor: #f2f2f2;
  --color: #0d0d0d;
}

[data-theme="dark"] {
  --backgroundColor: #0d0d0d;
  --color: #f2f2f2;
}

body {
  margin: 0;
  background-color: var(--backgroundColor);
  color: var(--color);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

a {
  text-decoration: none;
  color: #52B788;
}

a:hover {
  color: #64be94;
}

:focus {
  outline-color: #52B788;
  outline-offset: 1px;
  outline-style: solid;
  outline-width: 2px;
}

body {
  font-family: sans-serif;
}

header > nav > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

header > nav > ul > li > a {
  font-weight: bold;
  padding: .5em 1em;
  display: block;
  color: #52B788;
}

footer > nav > ul {
  font-weight: bold;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

footer > nav > ul > li > a {
  color: #f2f2f2;
}

footer > nav > ul > li > a:hover {
  text-decoration: underline;
  color: #f2f2f2;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  margin-top: 2em;
  background-color: #52B788;
  padding: 3em 0;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.logo > img {
  width: 50px;
}

button,
input[type=submit],
input[type=reset],
input[type=button] {
  background-color: #52B788;
  border: 1px solid #52B788;
  color: #f2f2f2;
  border-radius: 1em;
  padding: 1em 1.5em;
  cursor: pointer;
}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
  background-color: #64be94;
}

.toggles [type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.toggles [type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3em;
  height: 1.5em;
}

.toggles [type="checkbox"] + label::before,
.toggles [type="checkbox"] + label::after {
  content: "";
  position: absolute;
  height: 100%;
  -webkit-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

.toggles [type="checkbox"] + label::before {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 1.1em;
  -webkit-box-shadow: inset 0px 0px 2px 0px;
          box-shadow: inset 0px 0px 2px 0px;
}

.toggles [type="checkbox"] + label::after {
  left: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 50%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-box-shadow: 1px 1px 5px 1px #0d0d0d;
          box-shadow: 1px 1px 5px 1px #0d0d0d;
}

.toggles [type="checkbox"]:checked + label::after {
  left: 50%;
}

.toggles [type="checkbox"]:checked + label::before {
  left: auto;
  background-color: #52B788;
}

.toggles [type="checkbox"]:focus + label::before {
  outline-color: #52B788;
  outline-offset: 1px;
  outline-style: solid;
  outline-width: 2px;
}
/*# sourceMappingURL=main.css.map */