// text boxes
input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=month],
input[type=week],
input[type=date],
input[type=time],
textarea
{
    padding: .5rem 0;
    margin: 0.5rem;
    font-size: 1rem;
    background-color: transparent;
    color: var(--color);
    border: 0;
    border-bottom: 2px solid var(--color);
    transition: border $animationDuration ease-in-out;

    &:focus {
        outline: transparent;
        border-bottom: 2px solid $primaryColor;
        caret-color: $primaryColor;
    }
}

// buttons
button,
.btn,
input[type=submit],
input[type=reset],
input[type=button] {
    font-size: 1rem;
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
    color: $lightColor;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    cursor: pointer;

    &:hover {
        background-color: lighten($primaryColor, 5);
        border-color: lighten($primaryColor, 5);
        color: $lightColor;
    }
}