.main-nav {
    @include flexWrapCenter;
    justify-content: space-between;
    
    background-color: var(--background-color);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5); 

    & > ul {
        @include flexWrapCenter;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    & > ul > li > * {
        font-weight: bold;
        padding: .5rem;
        display: block;
        color: $primaryColor;
    }
}

footer > nav > ul {
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    & > li > a{
        color: $lightColor;
    }
    & > li > a:hover{
        text-decoration: underline;
        color: $lightColor;
    }
}