header > nav {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);

    & > div {
        @include flexWrapCenter;
        justify-content: space-between;
    }

    & > div > ul {
        @include flexWrapCenter;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    & > div > ul > li > * {
        font-weight: bold;
        padding: .5rem;
        display: block;
        color: $primaryColor;
    }
}

footer > nav {
    width: 100%;

    & > div > ul {
        @include flexWrapCenter;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    & > div > ul > li > * {
        font-weight: bold;
        padding: .5rem;
        display: block;
        color: $lightColor;
    }
    & > div > ul > li > a:hover{
        text-decoration: underline;
        color: $lightColor;
    }
}